body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.container {
    background: #07afcdb6;
    backdrop-filter: blur(10px);
    padding: 50px;
    width: 80%;
    max-width: 900px;
    border-radius: 12px;
    text-align: center;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #0200008a;
    cursor: pointer;
    background: #07afcdb6;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
}
.buttons button:hover {
    background: #0ed7da;
    transform: scale(1.05);
    text-shadow: 0 0 5px #fff;
}

/* Grid for 5 users */
.user-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    justify-items: center;
}

.card {
    background: #fff;
    color: #000;
    border-radius: 20px;
    width: 160px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    transition: transform .3s;
    
}
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.842);

}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.card p {
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


.error {
    color: #ff4444;
    font-size: 14px;
}

.hidden {
    display: none;
}

/* Loader */
.loader {
  border: 4px solid #ddd;
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 15px auto;
  animation:backwards spin 1s linear infinite;
}
h1 {
    margin-bottom: 20px;
    text-shadow: rgb(239, 16, 35) 1px 1px 2px;
    font-weight: bold;
}
/* Fade-out animation */
.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(.9); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
@media (max-width: 300px) {
    .container {
        width: 50%;
        padding: 15px;
    }
    .buttons button {
        width: 50%;
        margin: 8px 0;
    }
    .card {
        width: auto;
    }
    .user-container {
        grid-template-columns: 1fr;
    }

}